.box {
  width: 10vw;
  height: 10vw;
  background-color: navy;
  position: absolute;
  top: 20vw;
  left: 40vw;
}
button {
  cursor: pointer;
}
.redColor {
  background-color: red;
  animation: anim 0.6s ease-in 1 forwards;
}
.back {
  animation: animBack 0.6s ease-in 1 forwards;
}
@keyframes anim {
  0% {
    top: 20vw;
    left: 40vw;
  }
  100% {
    top: 30vw;
    left: 80vw;
  }
}
@keyframes animBack {
  0% {
    top: 30vw;
    left: 80vw;
  }
  100% {
    top: 20vw;
    left: 40vw;
  }
}
